<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <title>CY Message Board</title>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="../img/icon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="../css/home.css">
    <script src="../js/home.js"></script>
</head>

<body>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">Welcome to CY Message Board，{{$name}}</span>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {if {{$name}} != "Guest"}
                    <li class="active"> <a href="#" id="logout">Sign out</a></li>
                    {else}
                    <li class="active"><a href="../templates/login.html">Sign in</a></li>
                    <li><a href="../templates/signUp.html">Sign up</a></li>
                    {/if}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="jumbotron">
            <h1>CY&ensp;Message&ensp;Board</h1>
        </div>
        <div class="jumbotron" id="allmsg">
            {foreach $res as $value}
            <div class="message">
                <span class="h3">{{$value.name}}</span>
                <span class="day h5 pull-right">{{$value.create_at}}</span>
                <hr>
                <div>
                    <pre id="txt{$value.id}">{{$value.message}}</pre>
                </div>
                {if $value.create_at != $value.update_at}
                <div id="fix{{$value.id}}">
                    <span class="day h5 pull-right">修改於{{$value.update_at}}</span>
                </div>
                {/if}
                <br>
                {if $level == 1}
                {if $memberId==$value.memberId}
                <button type="button" class="btn btn-info" id="change{{$value.id}}"
                    onclick="change('{{$value.id}}')">修改</button>
                <button type="button" class="btn btn-danger" id="del{{$value.id}}"
                    onclick="del('{{$value.id}}')">刪除</button>
                {else}
                <button type="button" class="btn btn-danger" id="del{{$value.id}}"
                    onclick="del('{{$value.id}}')">刪除</button>
                {/if}
                {elseif $level == 0}
                {if $memberId==$value.memberId}
                <button type="button" class="btn btn-info" id="change{{$value.id}}"
                    onclick="change('{{$value.id}}')">修改</button>
                <button type="button" class="btn btn-danger" id="del{{$value.id}}"
                    onclick="del('{{$value.id}}')">刪除</button>
                {/if}
                {/if}
            </div>
            {/foreach}
            <p></p>
        </div>
        {if {{$name}} != "Guest"}
        <div class="jumbotron p-3 p-md-5 ">
            <div>
                <h1 class="display-4 font-italic">input your message here</h1>
                <div class="form-group">
                    <textarea class="form-control" rows="7" id="Msg"></textarea>
                </div>
            </div>
            <button class="btn btn-lg btn-default btn-block subBtn" type="button" id="addMsg"
                >送出</button>
        </div>
        {/if}
    </div>
</body>

</html>